<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="payment">
      <h2 data-cy="paymentDetailsHeading"><span jhiTranslate="tiskelCashRegisterManagerApp.payment.detail.title">Payment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ payment.id }}</span>
        </dd>
        <dt><span jhiTranslate="tiskelCashRegisterManagerApp.payment.created">Created</span></dt>
        <dd>
          <span>{{ payment.created | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="tiskelCashRegisterManagerApp.payment.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'tiskelCashRegisterManagerApp.PaymentStatus.' + payment.status }}">{{ payment.status }}</span>
        </dd>
        <dt><span jhiTranslate="tiskelCashRegisterManagerApp.payment.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'tiskelCashRegisterManagerApp.PaymentType.' + payment.type }}">{{ payment.type }}</span>
        </dd>
        <dt><span jhiTranslate="tiskelCashRegisterManagerApp.payment.isSubscriptionRenewal">Is Subscription Renewal</span></dt>
        <dd>
          <span>{{ payment.isSubscriptionRenewal }}</span>
        </dd>
        <dt><span jhiTranslate="tiskelCashRegisterManagerApp.payment.errorMessage">Error Message</span></dt>
        <dd>
          <span>{{ payment.errorMessage }}</span>
        </dd>
        <dt><span jhiTranslate="tiskelCashRegisterManagerApp.payment.company">Company</span></dt>
        <dd>
          <div *ngIf="payment.company">
            <a [routerLink]="['/company', payment.company?.id, 'view']">{{ payment.company?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="tiskelCashRegisterManagerApp.payment.invoice">Invoice</span></dt>
        <dd>
          <div *ngIf="payment.invoice">
            <a [routerLink]="['/invoice', payment.invoice?.id, 'view']">{{ payment.invoice?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/payment', payment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
