<div>
  <h2 id="page-heading" data-cy="CashRegisterHeading">
    <span jhiTranslate="tiskelCashRegisterManagerApp.cashRegister.home.title">Cash Registers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tiskelCashRegisterManagerApp.cashRegister.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cash-register"
        [routerLink]="['/cash-register/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tiskelCashRegisterManagerApp.cashRegister.home.createLabel"> Create a new Cash Register </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cashRegisters?.length === 0">
    <span jhiTranslate="tiskelCashRegisterManagerApp.cashRegister.home.notFound">No cashRegisters found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cashRegisters && cashRegisters.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="created">
            <span jhiTranslate="tiskelCashRegisterManagerApp.cashRegister.created">Created</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastUpdate">
            <span jhiTranslate="tiskelCashRegisterManagerApp.cashRegister.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="tiskelCashRegisterManagerApp.cashRegister.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="tiskelCashRegisterManagerApp.cashRegister.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="elzabId">
            <span jhiTranslate="tiskelCashRegisterManagerApp.cashRegister.elzabId">Elzab Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="elzabLicense">
            <span jhiTranslate="tiskelCashRegisterManagerApp.cashRegister.elzabLicense">Elzab License</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="active">
            <span jhiTranslate="tiskelCashRegisterManagerApp.cashRegister.active">Active</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="errorMessage">
            <span jhiTranslate="tiskelCashRegisterManagerApp.cashRegister.errorMessage">Error Message</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="company.id">
            <span jhiTranslate="tiskelCashRegisterManagerApp.cashRegister.company">Company</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cashRegister of cashRegisters; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cash-register', cashRegister.id, 'view']">{{ cashRegister.id }}</a>
          </td>
          <td>{{ cashRegister.created | formatMediumDatetime }}</td>
          <td>{{ cashRegister.lastUpdate | formatMediumDatetime }}</td>
          <td>{{ cashRegister.name }}</td>
          <td>{{ cashRegister.description }}</td>
          <td>{{ cashRegister.elzabId }}</td>
          <td>{{ cashRegister.elzabLicense }}</td>
          <td>{{ cashRegister.active }}</td>
          <td>{{ cashRegister.errorMessage }}</td>
          <td>
            <div *ngIf="cashRegister.company">
              <a [routerLink]="['/company', cashRegister.company?.id, 'view']">{{ cashRegister.company?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cash-register', cashRegister.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cash-register', cashRegister.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cashRegister)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="cashRegisters && cashRegisters.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
