<div>
  <h2 id="page-heading" data-cy="PaymentItemHeading">
    <span jhiTranslate="tiskelCashRegisterManagerApp.paymentItem.home.title">Payment Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tiskelCashRegisterManagerApp.paymentItem.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-payment-item"
        [routerLink]="['/payment-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tiskelCashRegisterManagerApp.paymentItem.home.createLabel"> Create a new Payment Item </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="paymentItems?.length === 0">
    <span jhiTranslate="tiskelCashRegisterManagerApp.paymentItem.home.notFound">No paymentItems found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="paymentItems && paymentItems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="created">
            <span jhiTranslate="tiskelCashRegisterManagerApp.paymentItem.created">Created</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="daysPayed">
            <span jhiTranslate="tiskelCashRegisterManagerApp.paymentItem.daysPayed">Days Payed</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="terminal.id">
            <span jhiTranslate="tiskelCashRegisterManagerApp.paymentItem.terminal">Terminal</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="payment.id">
            <span jhiTranslate="tiskelCashRegisterManagerApp.paymentItem.payment">Payment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paymentItem of paymentItems; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/payment-item', paymentItem.id, 'view']">{{ paymentItem.id }}</a>
          </td>
          <td>{{ paymentItem.created | formatMediumDatetime }}</td>
          <td>{{ paymentItem.daysPayed }}</td>
          <td>
            <div *ngIf="paymentItem.terminal">
              <a [routerLink]="['/terminal', paymentItem.terminal?.id, 'view']">{{ paymentItem.terminal?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="paymentItem.payment">
              <a [routerLink]="['/payment', paymentItem.payment?.id, 'view']">{{ paymentItem.payment?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/payment-item', paymentItem.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/payment-item', paymentItem.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(paymentItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="paymentItems && paymentItems.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
